<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=".\static\dist\output.css">
    <title>QR Code Generator</title>
</head>
<body class=" p-10 bg-gray-100">
    <div class="flex flex-col items-center gap-5">
        <h1 class="text-3xl font-bold uppercase">QR Code Generator</h1>
        <h2 class="text-gray-700">Inster a link below to generate a QR Code!</h2>

        <form class=" flex flex-col gap-5" action="/" method="post">
            <input class="p-2 rounded-lg " type="text" name="link" placeholder="Insert link">
            <button class="bg-purple-700 p-3 rounded-2xl text-white " type="submit">Generate QR code</button>
        </form>

        <img src="{{data}}" alt="qr code">
        <p>Here is your newly generated QR code!</p>

    </div>
    

   
</body>
</html>

